<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://monmagazine.fr/css/spectre.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="https://monmagazine.fr/css/custom.css" media="all" />
    <meta charset="utf-8">
    <title>MonMagazine.fr</title>

</head>
<body>

  {{{body}}}

</body>
</html>
