<div class="container valign-wrapper">
    <div class="row section valign">

        <form id="upload-form" action="https://monmagazine.fr/messenger/uploadcover/" method="post" class="col s12">

            <input type="hidden" value= {{senderid}} name="senderid" />
            <input type="hidden" value= '' name="usermessage" />
            <input type="hidden" value= '' name="uploadresult" />

            <div class="row">
                <div id="image-holder">
                    <img src="https://monmagazine.fr/images/square/add_photo.png" class="responsive-img" />
                </div>
                <div class="progress">
                  <div id="progressbar" class="determinate" style="width: 0%"></div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" length="120"></textarea>
                    <label for="message">Texte de publication:</label>
                </div>
            </div>

            <div class="row file-field input-field">

                <div class="col s5">
                    <div class="btn waves-effect waves-light light-blue darken-4 btn-fullblock">
                        <span>Selection</span>
                        <input id="fileUpload" type="file" name="file" accept="image/*" >
                    </div>
                </div>

                <div class="col s7">
                    <a class="btn waves-effect waves-light light-blue darken-4 btn-fullblock" name="action">Envoyer
              <i class="material-icons right">send</i>
            </a>
                </div>

            </div>
        </form>

    </div>
</div>

<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>



<script src="https://monmagazine.fr/js/jquery/dist/jquery.js"                                          type="text/javascript"></script>
<script src="https://monmagazine.fr/js/blueimp-file-upload/js/vendor/jquery.ui.widget.js"              type="text/javascript"></script>
<script src="https://monmagazine.fr/js/blueimp-file-upload/js/jquery.iframe-transport.js"              type="text/javascript"></script>
<script src="https://monmagazine.fr/js/blueimp-file-upload/js/jquery.fileupload.js"                    type="text/javascript"></script>
<script src="https://monmagazine.fr/js/blueimp-file-upload/js/jquery.fileupload-process.js"            type="text/javascript"></script>
<script src="https://monmagazine.fr/js/blueimp-file-upload/js/jquery.fileupload-image.js"              type="text/javascript"></script>
<script src="https://monmagazine.fr/js/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.js" type="text/javascript"></script>

<script type="text/javascript" src="https://monmagazine.fr/js/materialize.min.js"></script>
<script>
$("#fileUpload").on('change', function () {

        if (typeof (FileReader) != "undefined") {

            var image_holder = $("#image-holder");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "responsive-img"
                }).appendTo(image_holder);

            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
});

$(function () {
  $('#fileUpload').unsigned_cloudinary_upload("xzmch7ns", { cloud_name: 'monmagazine-fr' })
  .bind('cloudinarydone', function(e, data) {
    $('input[name=uploadresult]').val(JSON.stringify(data.result));
    $('input[name=usermessage]').val($("textarea#message").val().substr(0, 120));
    $("#upload-form").submit();
  })
  .bind('cloudinaryprogress', function(e, data) {
    $('#progressbar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');

  });

  $('#fileUpload').fileupload({
      dataType: 'json',
      add: function (e, data) {
        $("a[name='action']").click(function () {
          $('.btn').addClass('disabled');
        	data.submit();
        });
      },
  });
});
</script>
