{{#each print }}
  <div class="cover" style="page-break-after:always;">
    <img id="cover-img" class="responsive-img" src="{{this.eventId}}/{{this.cover_public_id}}.jpg">
  </div>
    {{#each this.photoList }}
      <div class="attach"  style="page-break-after:always;">
        <img class="responsive-img" src="{{../eventId}}/{{this.public_id}}.jpg">
      </div>
    {{/each}}
{{/each}}
