#image-holder {

}

.padding-btn {
  padding-bottom: 20px;
}

.padding-bottom-no {
  padding-bottom: 0px;
}

.btn-fullblock {
  width: 100%;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#ffffff;
   padding: 10px 10px 10px 10px;
   box-shadow: 0px -3px 3px 0px #cfcfcf;
   z-index:10;
}
