body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#image-holder {

}

.padding-btn {
  padding-bottom: 20px;
}

.margin-bottom-no {
  margin-bottom: 0px;
}
.active.margin-bottom-yes {
  margin-bottom: 20px;
}

.btn-fullblock {
  width: 100%;
  height: 46px;
  line-height: 46px;
}

.image-rotate90l {  /* Orientation=8 */
  transform: rotate(270deg);
}
.image-rotate90r {  /* Orientation=6 */
  transform: rotate(90deg);
  max-width: 680px;
}
.image-rotate180 {  /* Orientation=3 */
  transform: rotate(180deg);
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#ffffff;
   padding: 0px 0px 0px 0px;
   box-shadow: 0px -3px 3px 0px #cfcfcf;
   z-index:10;
}
.image-print {
   position: relative;
   width: 100%; /* for IE 6 */
   page-break-after: always;
}

.insider-bottom {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: whitesmoke;
   padding-top: 20px;
}
.insider-top {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding-top: 20px;
}
.avatar-print {
  float: left;
  margin-right: 20px;
  margin-left: 50px;
}
